a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	color: #FFF;
	text-decoration: none;
}
a:hover {
	color: #006;
	text-decoration: none;
}
a:active {
	color: #F00;
	text-decoration: none;
}
.TFtableCol{
	width:100%;
	border-collapse:collapse;
}

	